/env
/.vscode
*.pyc
*/*/*/__ pycache __/
*/*/__ pycache __/
*/__ pycache __/
**/__pycache__
Blog/main/__pycache__/admin.cpython-39.pyc
Blog/main/__pycache__/models.cpython-39.pyc
Blog/main/__pycache__/urls.cpython-39.pyc
Blog/main/__pycache__/views.cpython-39.pyc
/.idea