{% extends 'main/base.html' %}

{% block content %}

{% for i in fav%}
{% if request.user == i.user_id %}
<div class="container">
    <div class="card  text-left  ">
        <div class="card-header border-light">
            {{i.article_id.create_date}} - Number of views: {{i.article_id.views}}
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">{{i.article_id.title}}</h5>
            <p class="card-text">{{i.article_id.body|truncatechars:"500"}}</p><br>
            <a href="/article/{{i.id}}" class="btn" "> Go to</a>
        </div>
    </div>
</div>
<br>
{% endif %}
{% endfor %}

{% endblock %}

