{% extends 'main/base.html' %}

{% block content %}

{% for i in articles%}

<div class="container">
    <div class="card  text-left  ">
        <div class="card-header border-light">
            {{i.create_date}} - Number of views: {{i.views}}
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text">{{i.body|truncatechars:"500"}}</p><br>
            <a href="/article/{{i.id}}" class="btn" "> Go to</a>
        </div>
    </div>
</div>
<br>
{% endfor %}

{% endblock %}